/* #0065FC bleu
#DEEBFF bleu clair
#F2F2F2 gris pour le fond */

/* declaration body */
body{
  font-family: 'Raleway', sans-serif; 
  font-weight: 400;
  font-size: 16px;
  background-color: #FFF; 
  color: rgb(0, 0, 0);
  border: 0px;
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
}
/* ---------------HEADER------------------ */
header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 250px;
  max-width: 1340px; 
  margin: auto;
}
/* ----- logo ----- */
.logo{
  margin: 0px;
  margin-top: 25px;
}
/*----- menu ----- */
.menu {
  margin: 0px;
  display: grid ;
  grid-template-columns: repeat(3,1fr);
  width: min-content;
  grid-gap: 17px;
  float: right;
  color: #0065FC;
}
.menu li{
  list-style: none;
  padding: 30px 25px 0px 25px;
  border-top: 2px solid white;
}
.menu li:hover{
  cursor: pointer;
  border-top:  solid 2px #0065FC;
}
.menu li:link, a:visited{
  color: inherit;
}
.menu1{
  border-top: solid 2px #0065FC;
}
.menu2{
  color: #000;
}
.menu3{
  font-weight: 700;
}
/* -------------------MAIN----------------------- */
main,
aside{
  max-width: 1340px; 
  margin: auto;
}
/* ----- textes ----- */
.textes{
  margin-top: 35px;
}
.textes h1{
  margin-left: 1px;
  font-weight: 800;
  font-size: 21px;
}
.textes h2{  
  margin-left: 2px;
  font-weight: 400;
  font-size: 16px;
}
/*----- barre de recherche ----- */
.barre_recherche{
  margin-top: 20px;
  height: 50px;
  width: 420px;
  display: flex;
}
.barre_recherche div:nth-child(1){
  width: 52px;
  height: 100%;
  background-color: #F2F2F2;
  border-radius: 15px 0px 0px 15px;
}
#gps_icone{
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
.barre_recherche div:nth-child(2){
  height: 46px;
  padding: 0px 18px 0px 18px;
  width: 198px; 
  border: solid #F2F2F2 2px;
}
.recherche_input{
  border: none;
  outline: none;
  box-sizing: border-box;
  height: 46px;
  font-weight: 700;
  font-size: 18px;
}
/* changement couleur du input */
::placeholder { 
  color: #000;
  opacity: 1; /* adaptation pour Firefox */
}
.barre_recherche div:nth-child(3){
  width: 124px;
  height: inherit;
  color: #fff;
  font-weight: 700;
  background-color: #0065FC;
  text-align: center;
  line-height: 50px;
  border-radius: 0px 15px 15px 0px;
}
/*----- filtres ----- */
.filtres{
  margin-top: 33px;
  font-size: 17px ;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: min-content;
  column-gap: 24px; 
  line-height: 46px;
 }
 .fil_icone{
  color: #0065FC;
  font-size: 18px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  background-color: #DEEBFF;  
  height: 50px;
  width: 50px;
  float: left;
  transform: translateX(-3px) translateY(-2px);
}
.fil_texte{
  line-height: 46px;
  transform: translateX(10px) ; 
}
.fil_content{
  border: solid #d9d9d9 2px;
  width: 184px;
  height: 46px;
  border-radius: 25px;
}
.filtres div:nth-child(3){
  width: 143px;
}
.filtres div:nth-child(4){
  width: 175px;
}
.filtres div:nth-child(5){
  width: 228px;
}
.fil_content:hover{
  box-shadow: 0px 5px 5px 0px rgb(0, 101, 252, 0.5);
  cursor: pointer;
} 
/* ----- ligne texte info ----- */
.info{
  display: flex;
  align-content: flex-start;
  margin: 15px 0px 15px 10px;
 }
#info_icone{
  width: 24px;
  height: 24px;
  border: solid 2px #d9d9d9;
  border-radius: 50%;
  font-size: 12px;
  color: #0065FC ;
  margin-top: 8px;
  text-align: center;
  line-height: 24px;
}
#info_text{
  font-size: 10px;
  font-weight: 400;
  margin-left: 11px;
}
#info_text h2{
  font-weight: 400;
}
/* ----- galeries hebergements ----- */
.partie_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 40px;
  height: 576px;
}
.partie_1 article{
  background-color: #fff;
  border-radius: 20px;
  padding: 5px; 
  box-shadow: 0px 5px 15px -3px rgb(0, 0, 0, 0.4);
  position: relative;
}
.partie_1 span{
  font-weight: 700;
}
/* ----- stars ----- */
.stars {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: min-content;
  column-gap: 2px;
  color: #d9d9d9;
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.stars_full 
 {
   color: #0065FC;
  }
/* galerie gauche */
.galerie1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  grid-gap: 30px;
  min-width: 236px;/* test */
}
#hebergements{
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 20px 40px;
  width: fit-content;
  height: 585px;
}
#hebergements h1{
  font-size: 22px;
  margin-bottom: 20px;
}
#hebergements h2{
  font-size: 16px;
  margin: 8px 0px 0px 10px;
}
#hebergements h3{
  font-size: 14px;
  font-weight: 400;
  margin: 7px 0px 25px 10px;
}
.hotel img{
  width: 100%;
  height: 114px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.afficher_plus{
  font-size: 18px;
  font-weight: 700;
  margin-top: 42px;
}
/* galerie droite */
.galerie2{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 30px;
  margin-top: 3px;
}
.galerie2 > article{
  height: 134px;
  /* width: 333px; */
  min-width: 333px;
}
.gal2_titre{
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: min-content;
}
.chart_icone{
  font-size: 20px;
  margin-top: 40px;
  text-align: end;  
}
.contenu{
  display: grid;
  grid-template-columns: 127px 1fr;
  position: relative;
}
.contenu .stars{
  position: absolute;
  bottom: 10px;
  left: 148px;
}
#populaires{
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 0px 40px;
  width: fit-content;
  /* height: 625px; */
}
#populaires h1{
  font-size: 22px;
  margin-top: 38px;
}
#populaires h2{
  font-size: 16px;
  margin: 17px 50px 14px 21px;
}
#populaires h3{
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 0px 21px;
}
/* photos des chambres galerie gauche */
.contenu img{
  height: 134px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
}

/* ------------galeries activites---------------- */
.partie_2{
  margin-top: 80px;
}
#activites h1{
  font-size: 22px;
}
.galerie3{
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: repeat(89, 5px);
  grid-column-gap: 43px;
}
.galerie3 article{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 5px 10px -1px rgb(0, 0, 0, 0.2);
} 
/* emplacement des box */
.galerie3 article:nth-child(1){
  grid-column: 1;
  grid-row: 1/90;
}
.galerie3 article:nth-child(2){
  grid-column: 2;
  grid-row: 1/47;
}
.galerie3 article:nth-child(3){
  grid-column: 3;
  grid-row: 1/90;
}
.galerie3 article:nth-child(4){
  grid-column: 4;
  grid-row: 1/39;
}
.galerie3 article:nth-child(5){
  grid-column: 2;
  grid-row: 57/90;
}
.galerie3 article:nth-child(6){
  grid-column: 4;
  grid-row: 48/90;
}
/* taille des grids dans chaque box */
.gal3_contenu_1{
  display: grid;
  grid-template-rows: 390px 55px;
}
.gal3_contenu_2{
  display: grid;
  grid-template-rows: 180px 55px;
}
.gal3_contenu_4{
  display: grid;
  grid-template-rows: 140px 55px; 
}
.gal3_contenu_5{
  display: grid;
  grid-template-rows: 111px 55px;
}
.gal3_contenu_6{
  display: grid;
  grid-template-rows: 156px 55px ;
}
/* parametres images */
.img_pos_1,
.img_pos_3{
  height: 120%;
  width: auto;
  object-fit: cover;
  object-position: -175px -20px;
}
.img_pos_2,
.img_pos_4,
.img_pos_5,
.img_pos_6{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0px -143px;
}
.img_pos_3{
  object-position: -191px -20px;
}
.img_pos_4{
  object-position: 0px -15px;
}
.img_pos_5{
  object-position: 0px -32px;
}
.img_pos_6{
  object-position: 0px -25px;
}
.gal3_img{
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
.gal3_txt{
  font-size: 17px;
  font-weight: 700;
  margin-left: 17px;
}
/*------------------FOOTER------------- */
.footer{
  background-color:#f2f2f2;
  height: 218px;
  width: 100%;
  bottom: 0;
  margin-top: 60px;
}
.foot_grid{
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 25px;
  margin: auto;
  max-width: 1340px;
}

